version: 2.1
orbs:
  node: circleci/node@2.0.3
jobs:
  install-node-example:
  docker:
    - image: "cimg/base:stable"
  steps:
    - checkout
    - node/install:
        install-yarn: true
        node-version: latest
    - run: node --version
  build-and-test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - install-node-example
            - setup_remote_docker
            - run: npm install
            - run: npm run build && npm run test
workflows:
  build-and-test:
    jobs:
      - build-and-test
